.homepage {
    background-repeat: no-repeat;
    background-size: 350px 315px;
    background-position: 0% -40%;
}

.aboutme {
    position: absolute;
    top: 100px;
    margin-left: 10px;
    font-size: 25px;
    line-height: 2;
}

a:active {
    color: blue;
}

.navbar-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    margin-right: 1em;
    padding-top: 20px;
}

.footer {
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
}

.projdescrip {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 15px;
}