.homepage {
  background-repeat: no-repeat;
  background-size: 350px 315px;
  background-position: 0% -40%;
}

.aboutme {
  position: absolute;
  margin-left: 10px;
  font-size: 25px;
  line-height: 2;
}

a:active {
  color: blue;
}
.footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
}

.projdescrip {
  margin-left: 10px;
  font-size: 25px;
  margin-top: 15px;
}